@page "/"

<PageTitle>Index</PageTitle>

<h1>Sebastian Kasprzak!!!</h1>

<h2>nr.: 116926</h2>

Welcome to my new app.
<br>
<br>
<br>
Welcome to my new app.


<SurveyPrompt Title="How is Blazor working for you?" />
